<footer
	class="text-center text-lg-start">
	<!-- Grid container -->
	<div
		class="container p-4 pb-0">
		<!-- Section: Links -->
		<section
			class="">
			<!--Grid row-->
			<div
				class="row">
				<!-- Grid column -->
				<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
					<h6 class="text-uppercase mb-4 font-weight-bold">
						Wild Series
					</h6>
					<p>
						Un site avec des séries, des saisons et des acteurs, qui sert de fil rouge pour ma progression dans l'apprentissage du framework Symfony. C'est moche mais j'ai fait une formation back-end à la base alors..
					</p>
				</div>
				<!-- Grid column -->

				<hr
				class="w-100 clearfix d-md-none"/>

				<!-- Grid column -->
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
					<h6 class="text-uppercase mb-4 font-weight-bold">Liens</h6>
					<p>
						<a class="nav-link" href="/season">Saisons</a>
					</p>
					<p>
						<a class="nav-link" href="/episode">Episodes</a>
					</p>
					<p>
						<a class="nav-link" href="/actor">Acteurs</a>
					</p>
				</div>
				<!-- Grid column -->

				<hr
				class="w-100 clearfix d-md-none"/>

				<!-- Grid column -->
				<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
					<h6 class="text-uppercase mb-4 font-weight-bold">
						Liens utiles
					</h6>
					<p>
						<a class="nav-link" target="_blank" href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees">RGPD</a>
					</p>
					<p>
						<a class="nav-link" target="_blank" href="/">A venir</a>
					</p>
					<p>
						<a class="nav-link" target="_blank" href="/">Pareil</a>
					</p>
					<p>
						<a class="nav-link" target="_blank" href="/">Même topo</a>
					</p>
				</div>

				<!-- Grid column -->
				<hr
				class="w-100 clearfix d-md-none"/>

				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
					<h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
					<p>
						<i class="fas fa-home mr-3"></i>
						Bagnolet, France</p>
					<p>
						<i class="fas fa-envelope mr-3"></i>
						vinch.cm@gmail.com</p>
					<p>
						<i class="fas fa-phone mr-3"></i>
						+(00)33 06 XX XX XX XX</p>
				</div>
				<!-- Grid column -->
			</div>
			<!--Grid row-->
		</section>
		<!-- Section: Links -->

		<hr
		class="my-3">

		<!-- Section: Copyright -->
		<section class="p-3 pt-0">
			<div
				class="row d-flex align-items-center">
				<!-- Grid column -->
				<div
					class="col-md-7 col-lg-8 text-center text-md-start">
					<!-- Copyright -->
					<div class="p-3">
						© 2024 Copyright : VinchC</a>
				</div>
				<!-- Copyright -->
			</div>
			<!-- Grid column -->

			<!-- Grid column -->
			<div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
				<a target="_blank" href="https://www.facebook.com/" class="btn btn-outline-light btn-floating m-1" role="button">
					<img src="{{ asset('build/images/facebook_logo.png') }}" class="social_media d-block w-100" alt="Facebook logo">
				</a>

				<a target="_blank" href="https://www.twitter.com/" class="btn btn-outline-light btn-floating m-1" role="button">
					<img src="{{ asset('build/images/x_logo.png') }}" class="social_media d-block w-100" alt="X Twitter logo">
				</a>

				<a target="_blank" href="https://www.instagram.com/" class="btn btn-outline-light btn-floating m-1" role="button">
					<img src="{{ asset('build/images/instagram_logo.png') }}" class="social_media d-block w-100" alt="Instagram logo">
				</a>

				<a target="_blank" href="https://github.com/VinchC/" class="btn btn-outline-light btn-floating m-1" role="button">
					<img src="{{ asset('build/images/github_logo.png') }}" class="social_media d-block w-100" alt="GitHub loho">
				</a>
			</div>
			<!-- Grid column -->
		</div>
	</section>
	<!-- Section: Copyright -->
</div>
<!-- Grid container --></footer>
