<form method="post" action="{{ path('app_episode_delete', {'id': episode.id}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer cet épisode ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ episode.id) }}">
	<button class="btn">Supprimer</button>
</form>
