<form method="post" action="{{ path('app_episode_delete', {episodeSlug: episode.slug}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer cet épisode ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ episode.slug) }}">
	<button type="submit">Supprimer</button>
</form>
