{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Modifier un épisode
{% endblock %}

{% block body %}
	<h1>Modifier un épisode</h1>

	{{ include('episode/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	<a href="{{ path('app_episode_index') }}">Index des épisodes</a>

	{{ include('episode/_delete_form.html.twig') }}
{% endblock %}
