{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Créer une saison
{% endblock %}

{% block body %}
	<h1>Créer une saison</h1>
	{{ include('season/_form.html.twig')}}
{% endblock %}
