:root {
    --primary-color: lightblue;
    --secondary-color: lightgrey;
    --tertiary-color: orange;
    --spacing: 1rem;
}

@import "~bootstrap/scss/bootstrap";

// Then add additional custom code here

header {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

aside {
    width: 15%;
    padding: calc(var(--spacing)/2);
    margin: var(--spacing);
    float: left;
    font-style: bold;
    background-color: var(--primary-color);
    border: 2px solid black;
    border-radius: 10px;
}

main {
    width: 90%;
    margin: 4rem auto auto auto;
}

.container-fluid {
    background-color: var(--primary-color);
    height: 4rem;
}

.navbar {
    padding: 0;
}

img {
    max-width: 15rem;
    max-height: 15rem;
}

#commentEpisode input {
    width: 90%;
}
