:root {
    --primary-color: lightblue;
    --secondary-color: lightgrey;
    --tertiary-color: orange;
}

@import "~bootstrap/scss/bootstrap";

// Then add additional custom code here

header {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

body {
    background-color: var(--primary-color);
    margin-top: 4rem;
}