{% extends 'base.html.twig' %}

{% block title %}Wild Series
	{{ welcome }}
{% endblock %}

{% block body %}
	<h1>{{ welcome }}
		{% if app.user %}
			{{ app.user.firstname }}
		{% endif %}
	</h1>
{% endblock %}
