{% extends 'base.html.twig' %}

{% block content %}
	{{ parent() }}
	<h2>To do list</h2>

	<ul>
		<li>Méta-données</li>
		<li>Vérifier html vs W3C</li>
		<li>Contraintes ORM</li>
		<li>Optimisation code SEO</li>
		<li>Captcha</li>
		<li>Renforcer sécurité OWASP</li>
		<li>Contact and social media information</li>
		<li>Fetcher les données GitHub via le site directement et non les indiquer en dur</li>
		<li>Sécuriser toutes les routes</li>
		<li>Mixin CSS</li>
		<li>Créer une modale</li>
		<li>Mettre des images de séries via les Fixtures</li>
		<li>Page 404 stylée</li>
		<li>Logout auto après une durée déterminée</li>
		<li>Verify Email qui fonctionne vraiment</li>
		<li>Search bar dans Navbar qui parcourt tout le contenu du site</li>
		<li>Carrousel sur homepage</li>
		<li>Navbar responsive</li>
		<li>Mise en place d'un tri</li>
		<li>Formulaire de contact</li>
		<li>EasyAdmin</li>
		<li>Faire le max de components possible</li>
	</ul>
{% endblock %}
